/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2021, 6:46:20 AM
    Author     : Anthony
*/
 
/*Applies to indexAboutCompany.jsp*/
.flex-container-about{
    
    word-wrap: break-word; /* Forces to wrap the word and cut it*/
    width: 800px;
    font-family: microsoft,himalayan;
    margin: 0 auto;   
    
}
/*Applies to indexCompanyMission.jsp*/
.flex-container-mission{
    word-wrap: break-word; /* Forces to wrap the word and cut it*/
    width: 800px;
    margin: 0 auto; 
    color: black;
    font-family: microsoft,himalayan;
}
/*Applies to indexCompanyMission.jsp*/
.flex-container-mission h1{
    color: black;
    position: absolute;
    word-wrap: break-word; 
    width: 800px;
    top:15%;
    left:7%;
    font-size: 65px;
    font-family: microsoft,himalayan;
    text-align: center;
}
/*Applies to indexCompanyMission.jsp*/
.flex-container-mission p{
    color: black;
    position: absolute;
    word-wrap: break-word; 
    width: 700px;
    top:25%;
    left:10%;
    font-size: 45px;
    font-family: microsoft,himalayan;
     text-align: center;
}
/*Applies to indexCompanyMission.jsp*/
.flex-container-vision{
    color: black;
    font-family: microsoft,himalayan;
    word-wrap: break-word; /* Forces to wrap the word and cut it*/
    width: 800px;
    margin: 0 auto;    
}
/*Applies to indexCompanyMission.jsp*/
.flex-container-vision h1{
    color: black;
    position: absolute;
    word-wrap: break-word; 
     width: 800px;
    top:15%;
    left:50%;
    font-size: 65px;
    font-family: microsoft,himalayan;
    text-align: center;
}
/*Applies to indexCompanyMission.jsp*/
.flex-container-vision p{
    color: black;
    position: absolute;
    word-wrap: break-word; 
     width: 600px;
     top:25%;
    left:55%;
    font-size: 45px;
    font-family: microsoft,himalayan;
     text-align: center;
}
/*Applies to indexAboutCompany.jsp*/
.flex-container-about  h1{
    color: black;
    position: absolute;
    word-wrap: break-word; 
    width: 1000px;
    top:15%;
    left:25%;
    font-size: 65px;
    font-family: microsoft,himalayan;
    text-align: center;
}
/*Applies to indexAboutCompany.jsp*/
.flex-container-about p{
    color: black;
    position: absolute;
    word-wrap: break-word; 
    width: 1000px;
    top:25%;
    left:25%;
    font-size: 45px;
    font-family: microsoft,himalayan;
    text-align: center;
}
html{
    position: relative;
    min-height: 100%;
}
 body { 
   margin: 0;
   padding:0;
   width:100%;
   height: 100%;      
   background-size:  cover;
   background-repeat: no-repeat;   
}
 