
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
-moz-appearance {
   background-color: red !important;
   color: red !important;
 
}
@-ms-viewport {
  width: device-width ;
}

 ::-webkit-input-placeholder {    color: black !important;  }  
 * {
  box-sizing: border-box;
}
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:5%;
    width: 100%;
    margin: 0 auto;
} 
html{
    position: relative;
    min-height: 100%;
}    
  
body
{ 
   margin: 0 auto;
   padding:0;
   width:100%;
   height: 100%;      
   background-size:  cover;
   background-repeat: no-repeat;
   
} 
 
.image{
    position:fixed;
    top: 0; 
    background-position: center;   
    height:100%;
    width:100%;
     margin: 0 auto;
} 
.form-image{
    position:fixed;
    top: 0; 
    background-position: center;  
    background-size:  cover;
    background-repeat: no-repeat;
    opacity: .1;
    height:100%;
    width:100%;
     margin: 0 auto;
} 
body h1{
    color:  #cccccc;
    position: relative;    
    left:7%;    
    font-size: 25px;
     
}
nav a.active{
	  
  	 color: white;
} 
nav a:hover {
 	 background-color: #ddd;
  	 color: black;
          text-decoration: none; 
}
 
nav a {
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 12px 15px;
       margin: 0 auto;
  	text-decoration: none;
  	font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 

.form-container {
  display: table;
  height:100%;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

  
 .form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 40px;
}
 
 
.form-control::placeholder {
  color: blue;
  font-size: 22px;
  
}


.reg-box {
     
    height: 700px;
    width:700px;
    box-sizing: border-box;         
    border: 25px ridge white; 
    font-family: microsoft-himalayan;
    position: fixed;
    top:50%;
    left:45%;
    transform: translate(-50%,-50%);
    
}

.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 35px;
    left:5%;  
}
  .section-one  {     
    position: fixed; 
    height:80%;
    width:40%;
    top:50%;
    left:25%;
    color: black;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 22px; 
}
 
  .section-two{
    
    position: absolute;    
     height:80%;
    width:40%;
    top:50%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 22px;
    color:black;
}
 
.reg-box input[type="text"] {
     margin: 0;
     padding: 0;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 22px;    
}
 .passwordControl {
     
    position:absolute;
    top:75%;     
    border-width:2px;   
}
 .passwordControl h1{     
    position:relative;  
    font-size: 25px;       
}
 .passwordControl p{     
    position:relative;  
}
 .reg-box .passwordControl  input[type="password"]{
       
     position:relative;
    
     border: none;
     border-bottom: 3px solid black;
     background: transparent;
      color: black;
     font-size: 15px; 
      
     text-align: left;
}
.image-control{
    position:relative;   
    top:5%;   
    border-width:2px;   
 
}
 .image-control h1{     
    position:relative;  
    font-size: 25px;
   
}  
 .image-control input[type="file"]
 {     
    position:relative;  
    font-size: 15px;
   
} 

.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:4%;
    left:44%;
    height: 65px;    
    border-width: 4px;
    border-color: black;
    border-radius: 5px;
    width: 150px; 
    color:white;	
    font-size: 36px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333;     
   
    text-align: center;
}
.sticky-footer h4 {
   
    font-size: 18px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {
   
    font-size: 18px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;
   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;
     
}
/*MOBILE DEVICES///////////////////////////////////////////////////////////*/

/*Iphone12Pro///////////////////////////////////////////*/
/*PORTRAIT*/ 
@media ( width:390px)and ( height:844px){
 
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:5%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
  	 color: white;
} 
nav a:hover {
 	 background-color: #ddd;
  	 color: black;
          text-decoration: none; 
}
 
nav a {
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 12px 15px;
       margin: 0 auto;
  	text-decoration: none;
  	font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
.reg-box h1
{
    color: black;
    position: absolute;
    font-size : 25px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 15px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 40px;
}
.reg-box input[type="text"] {
     margin: 0;
     padding: 0;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 15px;    
}
.reg-box {
    height:70%;
    width:100%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 15px ridge white;      
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 25px;
    left:5%;  
}
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:55%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px; 
}
 
.section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:55%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:1%;
    left:18%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333;     
   
    text-align: center;
}
.sticky-footer h4 {
   
    font-size: 18px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {
   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;
   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;
     
}
}
/*Iphone12Pro///////////////////////////////////////////*/
/*LANDSCAPE*/ 
@media ( width:844px)and ( height:390px){
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:10%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
  	 color: white;
} 
nav a:hover {
 	 background-color: #ddd;
  	 color: black;
          text-decoration: none; 
}
 
nav a {
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 10px 15px;
        margin: 0 auto;
  	text-decoration: none;
  	font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 h1
{
    color: black;
    position: absolute;
    font-size : 35px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 12px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 25px;
}
.reg-box input[type="text"] {
     margin: 0;   
     padding: 0;
     height:15%;
     width:85%;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 12px;    
}
 
.reg-box input[type="password"] {
     margin: 0;
     padding: 0;      
     height:20%;
     width: 65%;
     font-size: 15px;    
} 
.reg-box {
    top:53%;
    left:50%;
    height:85%;
    width:50%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 5px ridge white;      
    position: fixed;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 15px;
    left:5%; 
    
}
.section-one  {     
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%;   
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-one p{
    
    font-size: 15px;
}

 
 .section-two{
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%; 
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-two p{
    
    font-size: 15px;
}

.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    height: 25px;   
    width: 75px; 
    position: relative;
    background: #333;
    top:1%;
    left:50%;     
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 75px; 
    color:white;	
    font-size: 10px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333; 
    text-align: center;
}
.sticky-footer h4 {   
    font-size: 10px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;    
}
}
/*IphoneX iPhone11 PRO///////////////////////////////////////////*/
 
/*PORTRAIT*/ 
@media ( width:375px)and ( height:812px){
 
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:5%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
    color: white;
} 
nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none; 
}
 
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 15px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
.reg-box h1
{
    color: black;
    position: absolute;
    font-size : 25px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 15px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 40px;
}
.reg-box input[type="text"] {
     margin: 0;
     padding: 0;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 15px;    
}
.reg-box {
    height:70%;
    width:100%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 15px ridge white;      
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 25px;
    left:5%;  
}
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:55%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px; 
}
 
.section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:55%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:1%;
    left:18%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333;     
   
    text-align: center;
}
.sticky-footer h4 {
   
    font-size: 18px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {
   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;
   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;
     
}
}
/*IphoneX iPhone11PRO////////////////////////////////////////////////*/
/*LANDSCAPE*/ 
@media ( width:812px)and ( height:375px){
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:10%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
  	 color: white;
} 
nav a:hover {
 	 background-color: #ddd;
  	 color: black;
          text-decoration: none; 
}
 
nav a {
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 10px 15px;
        margin: 0 auto;
  	text-decoration: none;
  	font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 h1
{
    color: black;
    position: absolute;
    font-size : 35px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 12px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 25px;
}
.reg-box input[type="text"] {
     margin: 0;   
     padding: 0;
     height:15%;
     width:85%;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 12px;    
}
 
.reg-box input[type="password"] {
     margin: 0;
     padding: 0;      
     height:20%;
     width: 65%;
     font-size: 15px;    
} 
.reg-box {
    top:53%;
    left:50%;
    height:85%;
    width:50%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 5px ridge white;      
    position: fixed;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 15px;
    left:5%; 
    
}
.section-one  {     
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%;   
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-one p{
    
    font-size: 15px;
}

 
 .section-two{
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%; 
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-two p{
    
    font-size: 15px;
}

.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    height: 25px;   
    width: 75px; 
    position: relative;
    background: #333;
    top:1%;
    left:50%;     
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 75px; 
    color:white;	
    font-size: 10px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333; 
    text-align: center;
}
.sticky-footer h4 {   
    font-size: 10px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;    
}
}
/*iPhone11PRO MAX iPhone11///////////////////////////////////////////*/ 
/*PORTRAIT*/ 
@media ( width:414px)and ( height:896px){
 
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:5%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
    color: white;
} 
nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none; 
}
 
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 15px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
.reg-box h1
{
    color: black;
    position: absolute;
    font-size : 25px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 15px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 40px;
}
.reg-box input[type="text"] {
     margin: 0;
     padding: 0;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 15px;    
}
.reg-box {
    height:70%;
    width:100%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 15px ridge white;      
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 25px;
    left:5%;  
}
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:55%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px; 
}
 
.section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:55%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:1%;
    left:18%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333;     
   
    text-align: center;
}
.sticky-footer h4 {
   
    font-size: 18px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {
   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;
   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;
     
}
}
/* iPhone11PRO MAX iPhone11////////////////////////////////////////////////*/
/*LANDSCAPE*/ 
@media ( width:896px)and ( height:414px){
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:10%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
  	 color: white;
} 
nav a:hover {
 	 background-color: #ddd;
  	 color: black;
          text-decoration: none; 
}
 
nav a {
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 10px 15px;
        margin: 0 auto;
  	text-decoration: none;
  	font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 h1
{
    color: black;
    position: absolute;
    font-size : 35px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 12px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 25px;
}
.reg-box input[type="text"] {
     margin: 0;   
     padding: 0;
     height:15%;
     width:85%;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 12px;    
}
 
.reg-box input[type="password"] {
     margin: 0;
     padding: 0;      
     height:20%;
     width: 65%;
     font-size: 15px;    
} 
.reg-box {
    top:53%;
    left:50%;
    height:85%;
    width:50%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 5px ridge white;      
    position: fixed;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 15px;
    left:5%; 
    
}
.section-one  {     
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%;   
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-one p{
    
    font-size: 15px;
}

 
 .section-two{
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%; 
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-two p{
    
    font-size: 15px;
}

.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    height: 25px;   
    width: 75px; 
    position: relative;
    background: #333;
    top:1%;
    left:50%;     
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 75px; 
    color:white;	
    font-size: 10px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333; 
    text-align: center;
}
.sticky-footer h4 {   
    font-size: 10px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;    
}
}
/*Iphone 6/7/8 plus*/ 
/*PORTRAIT*/ 
@media ( width:414px)and ( height:736px){
 
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:6%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
    color: white;
} 
nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none; 
}
 
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 15px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
}
.home-btn{
    background-color: black;    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 h1
{
    color: black;
    position: absolute;
    font-size : 15px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 15px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 40px;
}
.reg-box input[type="text"] {
     margin: 0;
     padding: 0;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 15px;    
}
.reg-box {
    height:80%;
    width:100%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 15px ridge white;      
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 25px;
    left:5%;  
}
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:55%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px; 
}
 
.section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:55%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:1%;
    left:18%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333;     
   
    text-align: center;
}
.sticky-footer h4 {
   
    font-size: 18px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {
   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;
   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;
     
}
}
/*Iphone 6,7,8 Plus///////////////////////////////////////////*/
/*LANDSCAPE*/ 
@media ( width:736px)and ( height:414px){
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:10%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
  	 color: white;
} 
nav a:hover {
 	 background-color: #ddd;
  	 color: black;
          text-decoration: none; 
}
 
nav a {
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 10px 15px;
        margin: 0 auto;
  	text-decoration: none;
  	font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 h1
{
    color: black;
    position: absolute;
    font-size : 35px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 12px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 25px;
}
.reg-box input[type="text"] {
     margin: 0;   
     padding: 0;
     height:15%;
     width:85%;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 12px;    
}
 
.reg-box input[type="password"] {
     margin: 0;
     padding: 0;      
     height:20%;
     width: 65%;
     font-size: 15px;    
} 
.reg-box {
    top:53%;
    left:50%;
    height:85%;
    width:50%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 5px ridge white;      
    position: fixed;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 15px;
    left:5%; 
    
}
.section-one  {     
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%;   
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-one p{
    
    font-size: 15px;
}

 
 .section-two{
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%; 
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-two p{
    
    font-size: 15px;
}

.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    height: 25px;   
    width: 75px; 
    position: relative;
    background: #333;
    top:1%;
    left:50%;     
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 75px; 
    color:white;	
    font-size: 10px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333; 
    text-align: center;
}
.sticky-footer h4 {   
    font-size: 10px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;    
}
}
/*Iphone 6/7/8 */
 
/*PORTRAIT*/ 
@media ( width:375px)and ( height:667px){
 
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:6%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
    color: white;
} 
nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none; 
}
 
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 15px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
}
.home-btn{
    background-color: black;    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 .form-container h1
{
    color: black;
    position: absolute;
    font-size : 12px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 15px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 40px;
}
.reg-box input[type="text"] {
     margin: 0;
     padding: 0;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 15px;    
}
.reg-box {
    height:85%;
    width:100%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 15px ridge white;      
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 25px;
    left:5%;  
}
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:55%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px; 
}
 
.section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:55%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:1%;
    left:18%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333;     
   
    text-align: center;
}
.sticky-footer h4 {
   
    font-size: 18px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {
   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;
   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;
     
}
}
/*Iphone 6,7,8  ///////////////////////////////////////////*/
/*LANDSCAPE*/ 
@media ( width:667px)and ( height:375px){
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:10%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
  	 color: white;
} 
nav a:hover {
 	 background-color: #ddd;
  	 color: black;
          text-decoration: none; 
}
 
nav a {
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 10px 15px;
        margin: 0 auto;
  	text-decoration: none;
  	font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 h1
{
    color: black;
    position: absolute;
    font-size : 35px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 12px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 25px;
}
.reg-box input[type="text"] {
     margin: 0;   
     padding: 0;
     height:15%;
     width:85%;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 12px;    
}
 
.reg-box input[type="password"] {
     margin: 0;
     padding: 0;      
     height:20%;
     width: 65%;
     font-size: 15px;    
} 
.reg-box {
    top:53%;
    left:50%;
    height:85%;
    width:50%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 5px ridge white;      
    position: fixed;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 15px;
    left:5%; 
    
}
.section-one  {     
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%;   
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-one p{
    
    font-size: 15px;
}

 
 .section-two{
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%; 
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-two p{
    
    font-size: 15px;
}

.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    height: 25px;   
    width: 75px; 
    position: relative;
    background: #333;
    top:1%;
    left:50%;     
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 75px; 
    color:white;	
    font-size: 10px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333; 
    text-align: center;
}
.sticky-footer h4 {   
    font-size: 10px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;    
}
}
/*Ipads/////////////////////////////////////////////////////////////////*/
 /*Ipad standard PORTRAIT*/
@media  (width:768px) and (height:1024px){
    .form-control::placeholder {
    color: blue;
    font-size: 20px;  
}
h1
{
    color: black;
    position: absolute;
    font-size : 35px;
    text-align: center;
    left:5%;  
}
  
.form-control {
    height:100%;
    width:100%;
    margin: 0 auto;
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;   
    text-indent: 6px;
    height: 35px;
}
.reg-box input[type="text"] {
     margin: 0;   
     padding: 0;
     height:25%;
     width:85%;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 35px;    
}
 
.reg-box input[type="password"] {
     margin: 0;
     padding: 0;      
     height:20%;
     width: 65%;
     font-size: 35px;
}

.reg-box {
    height:70%;
    width:80%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 15px ridge white;      
    position: fixed;
    top:47%;
    left:43%;
    transform: translate(-50%,-50%);        
}
 
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:51%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 20px; 
}
 
  .section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:51%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 20px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:10%;
    left:45%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
}
 /*Ipad standard LANDSCAPE*/
@media  (width:1024px) and (height:768px){
    .form-control::placeholder {
    color: blue;
    font-size: 20px;  
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size : 25px;
    text-align: center;
    left:5%;  
}
  
.form-control {
    height:100%;
    width:100%;
    margin: 0 auto;
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;   
    text-indent: 6px;
    height: 35px;
}
.reg-box input[type="text"] {
     margin: 0;   
     padding: 0;
     height:25%;
     width:85%;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 25px;    
}
 
.reg-box input[type="password"] {
     margin: 0;
     padding: 0;      
     height:20%;
     width: 65%;
     font-size: 25px;    
} 

.reg-box {
    height:80%;
    width:60%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 10px ridge white;      
    position: fixed;
    top:47%;
    left:50%;
    transform: translate(-50%,-50%);        
}
 
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:51%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 20px; 
}
 
  .section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:51%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 20px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:10%;
    left:45%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
}
/*SAMSUNG/////////////////////////////////////////////////////////////*/
/*Samsung S21///////////////////////////////////////////*/
 
/*PORTRAIT*/ 
@media ( width:384px)and ( height:854px){
 
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:6%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
    color: white;
} 
nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none; 
}
 
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 15px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
}
.home-btn{
    background-color: black;    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 h1
{
    color: black;
    position: absolute;
    font-size : 15px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 15px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 40px;
}
.reg-box input[type="text"] {
     margin: 0;
     padding: 0;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 15px;    
}
.reg-box {
    height:70%;
    width:100%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 15px ridge white;      
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 25px;
    left:5%;  
}
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:55%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px; 
}
 
.section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:55%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:1%;
    left:18%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333;     
   
    text-align: center;
}
.sticky-footer h4 {
   
    font-size: 18px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {
   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;
   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;
     
}
}
/*Samsung S21///////////////////////////////////////////*/
/*LANDSCAPE*/ 
@media ( width:854px)and ( height:384px){
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:10%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
  	 color: white;
} 
nav a:hover {
 	 background-color: #ddd;
  	 color: black;
          text-decoration: none; 
}
 
nav a {
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 10px 15px;
        margin: 0 auto;
  	text-decoration: none;
  	font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 h1
{
    color: black;
    position: absolute;
    font-size : 35px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 12px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 25px;
}
.reg-box input[type="text"] {
     margin: 0;   
     padding: 0;
     height:15%;
     width:85%;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 12px;    
}
 
.reg-box input[type="password"] {
     margin: 0;
     padding: 0;      
     height:20%;
     width: 65%;
     font-size: 15px;    
} 
.reg-box {
    top:53%;
    left:50%;
    height:85%;
    width:50%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 5px ridge white;      
    position: fixed;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 15px;
    left:5%; 
    
}
.section-one  {     
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%;   
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-one p{
    
    font-size: 15px;
}

 
 .section-two{
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%; 
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-two p{
    
    font-size: 15px;
}

.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    height: 25px;   
    width: 75px; 
    position: relative;
    background: #333;
    top:1%;
    left:50%;     
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 75px; 
    color:white;	
    font-size: 10px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333; 
    text-align: center;
}
.sticky-footer h4 {   
    font-size: 10px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;    
}
}
 /*Note20Ultral///////////////////////////////////////////*/ 
/*PORTRAIT*/ 
@media ( width:412px)and ( height:883px) {
 
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:6%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
    color: white;
} 
nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none; 
}
 
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 15px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
}
.home-btn{
    background-color: black;    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 h1
{
    color: black;
    position: absolute;
    font-size : 15px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 15px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 40px;
}
.reg-box input[type="text"] {
     margin: 0;
     padding: 0;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 15px;    
}
.reg-box {
    height:70%;
    width:100%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 15px ridge white;      
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 25px;
    left:5%;  
}
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:55%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px; 
}
 
.section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:55%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:1%;
    left:18%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333;     
   
    text-align: center;
}
.sticky-footer h4 {
   
    font-size: 18px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {
   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;
   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;
     
}
}
/*Samsung S21///////////////////////////////////////////*/
/*LANDSCAPE*/ 
@media ( width:883px)and ( height:412px){
nav
{
    overflow: hidden;          
    background-color: #333;
    top: 0;   
    position:fixed;	
    height:10%;
    width: 100%;
    margin: 0 auto;
} 
nav a.active{
	  
  	 color: white;
} 
nav a:hover {
 	 background-color: #ddd;
  	 color: black;
          text-decoration: none; 
}
 
nav a {
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 10px 15px;
        margin: 0 auto;
  	text-decoration: none;
  	font-size: 20px;
}
.home-btn{
    background-color: black;
    
    border-width: 4px;
    border-color: gold;
    border-radius: 10px;
    font-size: 25px;
    color: gold;
}
.home-btn a{  
    text-decoration: none;    
    color: white;
} 
 h1
{
    color: black;
    position: absolute;
    font-size : 35px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 12px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 25px;
}
.reg-box input[type="text"] {
     margin: 0;   
     padding: 0;
     height:15%;
     width:85%;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 12px;    
}
 
.reg-box input[type="password"] {
     margin: 0;
     padding: 0;      
     height:20%;
     width: 65%;
     font-size: 15px;    
} 
.reg-box {
    top:53%;
    left:50%;
    height:85%;
    width:50%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 5px ridge white;      
    position: fixed;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 15px;
    left:5%; 
    
}
.section-one  {     
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%;   
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-one p{
    
    font-size: 15px;
}

 
 .section-two{
    position: absolute; 
    padding: 0;
    margin:0;
    height:10%;
    top:20%; 
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 5px; 
}
.section-two p{
    
    font-size: 15px;
}

.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    height: 25px;   
    width: 75px; 
    position: relative;
    background: #333;
    top:1%;
    left:50%;     
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 75px; 
    color:white;	
    font-size: 10px;
    text-align: center;
}
.sticky-footer{
   position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;   
    background-color: #333; 
    text-align: center;
}
.sticky-footer h4 {   
    font-size: 10px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer p {   
    font-size: 12px;
    color: white;
    font-family: Courier New, monospace;
    text-align: center;
}
.sticky-footer ul li{
  display: inline-block;  
   margin: 0;   
}
.sticky-footer ul li a {
     color: white;
     text-align: center;
     margin: 0;    
}
}
/*LAPTOP with HiDPI Screen///////////////////////////////////////////*/
/*#region*/ 
@media (width:1440px)and (height:900px){
    
 .reg-box h1
{
    color: black;
    position: absolute;
    font-size : 25px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 15px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 40px;
}
.reg-box input[type="text"] {
     margin: 0;
     padding: 0;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 15px;    
}
    .reg-box {
    height:70%;
    width:50%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 15px ridge white;      
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 25px;
    left:5%;  
}
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:55%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px; 
}
 
  .section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:55%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:1%;
    left:18%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
}
/*LAPTOP with HiDPI Screen///////////////////////////////////////////*/
/*#region*/ 
@media (width:1280px)and (height:800px){
    
 .reg-box h1
{
    color: black;
    position: absolute;
    font-size : 25px;
    text-align: center;
    left:5%;  
}
 .form-control::placeholder {
  color: blue;
  font-size: 15px;
  
} 
.form-control {
  height:100%;
  width:100%;
   margin: 0 auto;
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;   
  text-indent: 6px;
  height: 40px;
}
.reg-box input[type="text"] {
     margin: 0;
     padding: 0;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
     color: black;
     font-size: 15px;    
}
    .reg-box {
    height:70%;
    width:50%;
    font-family: microsoft-himalayan;
    box-sizing: border-box;         
    border: 15px ridge white;      
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);        
}
.reg-box  h1
{
    color: black;
    position: absolute;
    font-size: 25px;
    left:5%;  
}
  .section-one  {     
    position: fixed; 
    height:80%;
    width:45%;
    top:55%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px; 
}
 
  .section-two{
    
    position: absolute;    
     height:80%;
    width:45%;
    top:55%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 15px;
    color:black;
}
.reg-box  button[type="submit"]{
    margin:0; 
    padding:0;
    position: relative;
    background: #333;
    top:1%;
    left:18%;
    height: 50px;    
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    width: 125px; 
    color:white;	
    font-size: 25px;
    text-align: center;
}
}